.cardFeedback{
    border: 1px solid white;
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    width: 350px;
}
.dark-cardFeedback{
    color:white;
    background-color: blue;
    padding: 10px;
    border-radius: 20px;
    width: 350px;
    
}
@media (max-width : 1107px){
    .cardFeedback{
       display: none;

    }
    .dark-cardFeedback{
        width: 300px;
    }
}