.img-logo{
    margin-top: 70px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
    margin-right: 40px;

  
  
}
.img-logo img{
    width: 150px;
    margin-left: 30px;
}
.logo3{
    display: none!important;


}
@media (max-width : 1115px){
    .img-logo{
        display: none!important;
    }
    .logo3{
        display:block!important ;
        margin: auto;
    }
    
}