.my-navbar{
    z-index: 999;
}
.my-logo{
    width: 120px;
}
.mylink{
   color: black;
   margin: auto;
   text-decoration: none;
}
@media ( max-width : 992px)
{
    .btn-logo Button{
        display: none!important;
    }
    .my-navbar{
       width:300px!important;
    }
}    
